*{
	margin: 0;
	padding: 0;
}
body{
	background-color: deeppink;
	text-align: center;
}
input{
	margin-top: 2rem;
	font-size: 3rem;
}
#result{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	font-size: 2rem;
	background-color: #fff;
	margin: 2rem auto;
	width: 30rem;
	padding: 1rem;
	border-radius: 1rem;
}